/*
* {
  border: 1px solid grey;
}
*/
body {
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto; 
}

/* https://www.youtube.com/watch?v=KYT_Ch3dTB8 */
div.inner {
  max-width: 800px;
  margin: 0 auto; 
}

.video {
  width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.01rem;
  font-weight: 300;
  color: #888;
  margin: 2rem 0 1rem 0;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.01rem;
  font-weight: 300;
  color: #111;
/*
  margin: 2rem 0 1rem 0;
*/
}

img {
  display: block;
  width: 100%;
  height: auto;
}



/* Flex Menu */
.container {
    display: none;
    flex-wrap: wrap;
    padding-bottom: 1em;
    flex-direction: column;
    height: 8rem;
  }

.container div {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #111;

}

/* Getting Smaller */
@media only screen and (min-width: 600px) {
  container {
    height: 10em;
  }
}



/* Pure CSS side menu file:///Users/nick2/Documents/GitHub/DECO1400/purecss/pure_css_demo.html */


a {
  color: #3b8bba;
  text-decoration: none;
}

h1.title {
  font-size: 3rem;
}


/* Button */
.button {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #ddd;
  color: black;
  cursor: pointer;
}

.button:hover {
  background: #aaa;
}


/* Chevrons
https://codepen.io/jonneal/pen/kptBs
*/

.chevron::before {
  color: #888;
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}