footer {
    background-color: #222;
    color: #eee;
    padding: 0rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;

}
